<%- include("header") -%>


<div class="background-admin" style="text-align: center;">
  
    <form class="form-signin">
      <img class="img-index"src="/images/gb.png"  alt="" width="250" height="250">
    
      <h1 style="color: whitesmoke;"  class="h3 font-weight-normal"><strong>ADMIN</strong></h1><br>
     
      <select name="matchType" class="form-control admin"id="">
            <option value="classic">classic</option>
            <option value="tdm">TDM</option>
      </select>
 
<br>
      <select name="map" class="form-control admin" id="map">
            <option value="erangel">erangel</option>
            <option value="miramar">miramar</option>
            <option value="vikendi">vikendi</option>
            <option value="sanhok">sanhok</option>
            <option value="livik">livik</option>
      </select> 
<br>
      <select name="match" class="form-control admin" id="match">
            <option value="squad">squad</option>
            <option value="solo">solo</option>
            <option value="duo">duo</option>
          </select>

     <br><br>
    
     
     <a href="/admin" class="btn btn-lg btn-dark btn-block" type="submit">Enter</a>
    
    </form> 
         

  </div>



<%- include("footer") -%>