<%- include("header") -%>


<div class="background-admin" style="text-align: center;">
  
    <form class="form-signin">
      <img class="mb-4 img-index"src="/images/logo.jpeg"  alt="" width="150" height="200">
    
      <h1 style="color: whitesmoke;"  class="h3 mb-3 font-weight-normal"><strong>ADMIN</strong></h1><br>
     
      <input type="text"  class="form-control admin" placeholder="Match Type (Classic/TDM)" required autofocus>
<br>
      <input type="text"  class="form-control admin" placeholder="MAP(not required for TDM)" required autofocus>
<br>
      <input type="text"  class="form-control admin" placeholder="squad/solo/duo" required autofocus>
<br>
      <input type="tel"  class="form-control admin" placeholder="Mobile Number" required autofocus>
     <br><br>
    
     
     <a href="/admin" class="btn btn-lg btn-dark btn-block" type="submit">Enter</a>
    
    </form> 
         

  </div>



<%- include("footer") -%>