<%- include("header") -%>


  
    <div class="background-index" style="background-color: rgb(76, 8, 139);text-align: center;">
  
      <form class="form-signin">
        <img class="mb-4 img-index" src="/images/card.png" alt="" width="150" height="200">
      
        <h1 style="color: whitesmoke;"  class="h3 mb-3 font-weight-normal"><strong>Want To Play <br>
        LOG IN</strong></h1><br>
       
        <input type="mobile" id="inputNumber" class="form-control" placeholder="Mobile Number" required autofocus>
       <br><br>
      
       <a href="/verify" class="btn btn-lg btn-primary btn-block" type="submit">Generate OTP</a>
      
      </form> 
           
  
    </div>

  

<%- include("footer") -%>