<%- include("header") -%>


  
    <div class="background-index" style="text-align: center;">
  
      <form class="form-signin">
        <img class="mb-4 img-index"src="/images/logo.jpeg"  alt="" width="150" height="200">
      
        <h1 style="color: whitesmoke;"  class="h3 mb-3 font-weight-normal"><strong>Want To Play <br>
        LOG IN</strong></h1><br>
       
        <input type="tel" id="inputNumber" class="form-control index" placeholder="Mobile Number" required autofocus>
       <br><br>
      
       <a href="/verify" class="btn btn-lg btn-dark btn-block" type="submit">Generate OTP</a>
       <br>
       <a href="/admin" class="btn btn-lg btn-dark btn-block" type="submit">Admin Login</a>
      
      </form> 
           
  
    </div>

  

<%- include("footer") -%>