<%- include("header") -%>


  
    <div class="background-index" style="text-align: center;">
  
      <form class="form-signin">
        <img class="img-index" src="/images/gb.png"  alt=""width="250" height="250">
      
        <h1 style="color: whitesmoke;"  class="h3 font-weight-normal"><strong>Want To Play <br>
        LOG IN</strong></h1><br>
       
        <input type="tel" id="inputNumber" class="form-control index" placeholder="Mobile Number" required autofocus>
       <br><br>
      
       <a href="/verify" class="btn btn-lg btn-dark btn-block" type="submit">Generate OTP</a>
       <br>
       <a href="/admin" class="btn btn-lg btn-dark btn-block" type="submit">Admin Login</a>
      
      </form> 
           
  
    </div>

  

<%- include("footer") -%>