<%- include("header") -%>

<section id="two" class="schedule">
    <div style="padding:4%;">
        <h1 style="color: whitesmoke;"><strong>MATCH SCHEDULE</strong></h1>
       </div>
       
       <div class="container" style="color: black;padding-bottom: 5%;">
        <div class="card-deck">
            <div class="card text-center">
             
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">MATCH 1</h4>
                    <p class="card-text">
                      Type : Squad <br>
                      Map : Erangel <br>
                      Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="tournDetails.html">JOIN</a>
                </div>
            </div>
    
            <div class="card text-center">
             
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">Match 2</h4>
                    <p class="card-text">
                      Type : Squad <br>
                      Map : Erangel <br>
                      Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="tournDetails.html">JOIN</a>
                </div>
            </div>
    
            <div class="card text-center">
            
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">MATCH 3</h4>
                    <p class="card-text">
                        Type : Squad <br>
                        Map : Erangel <br>
                        Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="tournDetails.html">JOIN</a>
                </div>
            </div>
        </div>
        
    </div>

</section>


<%- include("footer") -%>
 