<%- include("header") -%>

<section id="two" class="schedule">
  <div class="matchSch-text-wrapper">
    <h1>SCHEDULE</h1>
  </div>

  <div class="container cards-container">
    <div class="card-deck">
      <div class="card text-center" id="custom-card">
        <div class="image-div"></div>
        <div class="card-body">
          <h4 class="card-title">ERANGEL</h4>
          <table class="table details-table">
            <tbody>
              <tr>
                <td class="details-key">Type:</td>
                <td></td>
                <td class="details-value">Squad</td>
              </tr>
              <tr>
                <td class="details-key">Map:</td>
                <td></td>
                <td class="details-value">Erangel</td>
              </tr>
              <tr>
                <td class="details-key">Mode:</td>
                <td></td>
                <td class="details-value">Classic</td>
              </tr>
            </tbody>
          </table>
          <a href="tournDetails"
            ><button class="btn btn-primary" style="width: 40%;">
              Join
            </button></a
          >
        </div>
      </div>

      <div class="card text-center" id="custom-card">
        <div class="image-div"></div>
        <div class="card-body">
          <h4 class="card-title">ERANGEL</h4>
          <table class="table details-table">
            <tbody>
              <tr>
                <td class="details-key">Type:</td>
                <td></td>
                <td class="details-value">Squad</td>
              </tr>
              <tr>
                <td class="details-key">Map:</td>
                <td></td>
                <td class="details-value">Erangel</td>
              </tr>
              <tr>
                <td class="details-key">Mode:</td>
                <td></td>
                <td class="details-value">Classic</td>
              </tr>
            </tbody>
          </table>
          <a href="tournDetails"
            ><button class="btn btn-primary" style="width: 40%;">
              Join
            </button></a
          >
        </div>
      </div>

      <div class="card text-center" id="custom-card">
        <div class="image-div"></div>
        <div class="card-body">
          <h4 class="card-title">ERANGEL</h4>
          <table class="table details-table">
            <tbody>
              <tr>
                <td class="details-key">Type:</td>
                <td></td>
                <td class="details-value">Squad</td>
              </tr>
              <tr>
                <td class="details-key">Map:</td>
                <td></td>
                <td class="details-value">Erangel</td>
              </tr>
              <tr>
                <td class="details-key">Mode:</td>
                <td></td>
                <td class="details-value">Classic</td>
              </tr>
            </tbody>
          </table>
          <a href="tournDetails"
            ><button class="btn btn-primary" style="width: 40%;">
              Join
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("footer") -%>
