<%- include("header") -%>


<section id="four" >
    <div class="heading" style="padding: 4%;color: whitesmoke;">
        <h1><strong>PREVIOUS MATCHES</strong></h1>
    </div>
    
        <div class="row prevWin-container" style="color: black;">
           <div class="contain">
               

           </div>
        </div>
    </section>
    

<%- include("footer") -%>
