<%- include("header") -%>


<section id="four" >
    <div class="heading" style="padding: 4%;color: whitesmoke;">
        <h1><strong>PREVIOUS WINNERS</strong></h1>
    </div>
    
        <div class="row prevWin-container" style="padding: 5%;color: black;">
            <ul class="list-group">
                <li class="list-group-item" style="font-weight: 500;">
                    team name:            <br> <br>
                    match type:  
                </li>
                <li class="list-group-item"  style="font-weight: 500;"> team name:  <br> <br>
                    match type: </li>
                <li class="list-group-item"  style="font-weight: 500;">
                    team name:          <br> <br>
                    match type: 
                </li>
                <li class="list-group-item"  style="font-weight: 500;">
                    team name:  <br> <br>
                    match type: 
                </li>
                <li class="list-group-item"  style="font-weight: 500;">
                    team name:  <br> <br>
                    match type: 
                </li>
              </ul>
        </div>
    </section>
    

<%- include("footer") -%>
