<%- include("header") -%>

<div class="tournament-page-container responsive-container">
    <div class="tournament-page-wrapper">
      <!-- <div class="tournament-name-div">
        <h1 class="tournament-name-text">T NAME</h1>
      </div> -->
      <div class="tournament-details-wrapper responsive-container">
        <img src="/images/gb.png" width="100px" height="250px"  />
        <div class="details-div">
          <div style="padding: 10% 5%;"><h2>Details</h2></div>
          <div> 
            
            <table class="table details-table">
              <tbody style="text-align: left;">
                <tr >
                  <td class="details-key">NAME:</td>
                  <td></td>
                  <td class="details-value">Arjun Anand</td>
                </tr>
                <tr>
                  <td class="details-key">ENTRY FEE:</td>
                  <td></td>
                  <td class="details-value">15</td>
                </tr>
                <tr>
                  <td class="details-key">TOTAL TEAMS:</td>
                  <td></td>
                  <td class="details-value">25</td>
                </tr>
                <tr>
                  <td class="details-key">NO. OF TEAMS JOINED:</td>
                  <td></td>
                  <td class="details-value">()/25</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <br><br>
            <button class="btn btn-dark button">Join Tournament</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("footer") -%>