<%- include("header") -%>

    <div class="background-verify" style="background-color: rgb(76, 8, 139);text-align: center;">
  
      <form class="form-signin" method="POST" action="/">
        <img class="mb-4 img-verify" src="/images/card.png" alt="" width="150" height="200">
      
        <h1 style="color: whitesmoke;"  class="h3 mb-3 font-weight-normal"><strong> OTP<br>
        </strong></h1><br>
       
        <input type="mobile" id="inputNumber" class="form-control" placeholder="ENTER OTP" required autofocus>
       <br><br>
      
       <a href="/details" class="btn btn-lg btn-dark btn-block" type="submit">Verify </a>
      
      </form> 
           
  
    </div>


<%- include("footer") -%>