.background-admin{
    background-image: linear-gradient(black,rgb(228, 101, 101),black);
}
input.admin[type=text] {
    background-color: rgb(226, 202, 202);
    color: white;
  }
  input.admin[type=tel] {
    background-color: rgb(226, 202, 202);
    color: white;
  }
  .form-signin .admin {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }