#four{
    background-image: linear-gradient(black,#969292,black);
   /* Create the parallax scrolling effect */
/* background-attachment: fixed; */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
body{
    height: 100%;
}
